.studentView{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    border-style: solid;
  }
.studentView__header {
  margin-top: 100px;
  color: rgba(77, 161, 192, 0.8);
}
.studentView__body {
  background-color:whitesmoke;
  border-radius: 10px;
  padding: 50px;
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
}


.studentView__cleaningList {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 10px;
}

.studentView__studentList {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}

.studentView__buttonWrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  bottom: 50px;
}

.studentView__button {
    width: 100%;
    background-color: rgb(0, 162, 255);
    color: #fff !important;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 17px;
    padding: 18px;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px !important;
    text-decoration: none !important;
    cursor: pointer;
}
