.studentView {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  border-style: solid;
}
.studentView__header {
  margin-top: 100px;
  color: rgba(77, 161, 192, 0.8);
}
.studentView_header3 {
  color: rgba(77, 161, 192, 0.8);
  font-weight: bold;
}
.studentView__body {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 50px;
  width: 60vw;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.studentView__cleaningList {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
  padding: 30px;
  font-size: calc(9px + 2vmin);
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
  width: 10em;
  margin-bottom: 60px;
}

.studentView__studentList {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
  padding: 30px;
  width: 200;
  font-weight: bold;
  font-size: calc(9px + 2vmin);
  border-radius: 10px;
  background-color: white;
  width: 10em;
  margin-right: 60px;
  margin-bottom: 60px;
}
.studentView__listItems {
  display: flex;
  flex-direction: column;
}

.studentView__buttonWrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  bottom: 50px;
}

.studentView__button {
  width: 100%;
  color: #fff !important;
  align-items: left;
  border: 1px solid transparent;
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px !important;
  line-height: 17px;
  padding: 18px;
  display: inline-block;

  border-radius: 10px !important;
  text-decoration: none !important;
  cursor: pointer;
}
