.FrontPage {
  text-align: center;
}

.FrontPage-header {
  background-color: rgba(34, 107, 136, 0.8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.FrontPage-link {
  color: #61dafb;
}
