.adminView{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .dormList {
    list-style-type: none;
    cursor: pointer;
    align-items: center;
  }
  

  .add-project__plus {
    color:white;
    font-size: 18px;
  }
  
  .add-project__text {
    display: inline-block;
    color: white;
    font-size: 18px;
  }