.adminView{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

.dormList {
  list-style-type: none;
  align-items: center;
}



  .addDorm__plus {
    cursor: pointer;
    font-size: 18px;
  }
  
  .addDorm__text {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
  }