.dormBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    align-items: center;

}

.memberList {
    list-style-type: none;
    cursor: pointer;
}

.approveButton {
    border: 1px solid transparent;
    color: whitesmoke;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 17px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px !important;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    background-color: green;
}